<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Sno</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Length</th>
            <th>Upper</th>
            <th>Lower</th>
            <th>Title</th>
            <th>Slicing</th>
            <th>CapFirst</th>
            <th>First</th>
            <th>Last</th>
            <th>Join</th>
            <th>Indexing</th>
            <th>Add</th>
        </tr>
        {% for student in student_details %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.first_name|length}}</td>
            <td>{{student.last_name|upper}}</td>
            <td>{{student.first_name|lower}}</td>
            <td>{{"Vamshi"|title}}</td>
            <td>{{student.first_name|slice:"::2"}}</td>
            <td>{{student.last_name|capfirst}}</td>
            <td>{{student.gender|first}}</td>
            <td>{{student.email|last}}</td>
            <td>{{student.first_name|join:' '}}</td>
            <td>{{student.V}}</td>
            <td>{{student|add:"Good"}}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>